.table{
    margin-top: 30px;
    width: 100%;
    font-size: 12px;
    color: #000000;
    text-align: center;
    border-collapse:collapse;
}
.table td{
    padding: 10px 5px;
    border: solid #ffffff 2px;
}
.page{
    width: 1000px;
    height: 15px;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    background-color: rgb(239, 239, 239);
    font-size: 12px;
    text-align:center;
}
.page a,.table a{
    color: #4d6ff7;
    text-decoration: none;
}