{% extends 'apply_base.html' %}

{% block htmltitle %}西南综合服务楼场地申请{% endblock %}

{% block top_title %}
    <h1>西南综合服务楼场地申请</h1>
{% endblock %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'jQuery/jquery-1.11.0.min.js'  | as_js  }}
    {{ 'integrated_service_validation.js'   | as_js  }}
    {{'integrated_service_addition_validation.js'  |as_js  }}
{% endblock %}

{% block main_content %}
    </br>
    <form method="POST" enctype="multipart/form-data" action="{{ post_url }}" id="application_form">
        {% csrf_token %}
        <table>
            <tr>
                <td class="title">活动主题</td>
                <td>
                    {{ form.topic }}
                    <div class="error">
                    {% for error in form.topic.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
                <td class="title">申请部门</td>
                <td>
                    {{ form.organization }}
                    <input type="text" id="id_appartment_name" disabled="disabled" value="{{user.organization}}"/>
                </td>
            </tr>
            <tr>
                <td class="title">申请人姓名</td>
                <td>
                    {{ form.applicant_name }}
                    <div class="error">
                    {% for error in form.applicant_name.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
                <td class="title">联系电话</td>
                <td>
                    {{ form.applicant_phone_number }}
                    <div class="error">
                    {% for error in form.applicant_phone_number.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">申请人学号</td>
                <td>
                    {{ form.applicant_stu_id }}
                    <div class="error">
                    {% for error in form.applicant_stu_id.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
                <td class="title">申请人学院</td>
                <td>
                    {{ form.applicant_college }}
                    <div class="error">
                    {% for error in form.applicant_college.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">申请所用场地</td>
                <td colspan="3">
                    {{ form.place }}
                    <div class="error">
                    {% for error in form.place.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">申请日期</td>
                <td colspan="3">
                    {{ form.date }}
                    <span style="color:red">(只能申请14天内的场地)</span>
                    <div class="error">
                    {% for error in form.date.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">活动时段</td>
                <td colspan="3">
                    {{ form.time }}
                    <div class="error">
                    {% for error in form.time.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">活动内容简介</td>
                <td colspan="3">
                    {{ form.summary }}
                    <div class="error">
                    {% for error in form.summary.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">备注(可选)</td>
                <td colspan="3">
                    {{ form.remarks }}
                    <div class="error">
                    {% for error in form.remarks.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
             <tr>
                <td class="title" rowspan="2">
                     <h5 style="color: red; text-align:center">(必填，若无赞助，请填无)</h5>
                    有关赞助说明
                </td>
                <td colspan="3">
                    <span>赞助商：</span>
                    {{ form.sponsor }}
                    <span>赞助金额及物品：</span>
                    {{ form.sponsorship }}
                    <div class="error">
                    {% for error in form.sponsor.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                    <div class="error">
                    {% for error in form.sponsorship.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <span>赞助财物主要用于：</span>
                    {{ form.sponsorship_usage }}
                    <div class="error">
                    {% for error in form.sponsorship_usage.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>申请说明：<br />1.点击上面各个空白方格填写相关资料，全部填完后点击下面“提交”按钮完成网上提交。<br />2.同一个房间相同的时间段只能提供一个申请，请不要选择已有人申请的时间段。</p>
                </td>
            </tr>
        </table>
        
        <div class="error" style="text-align:center;width:100%">
            {% for error in form.non_field_errors %}
                {{ error }}&nbsp;
            {% endfor %}
        </div>        
        <div class="button_container">
            <input type="button" onclick="checkConflict()" value="提交" />
            <input type="reset" value="重置" style="margin-left:100px;"/>
        </div>
    </form>
{% endblock %}

