{% extends 'table_base.html' %}

{% block htmltitle %} {% endblock %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'student_activity_center/table.css' | as_css }}
{% endblock %}

{% block main_content %}
    <table>
    	<tr class="date">
    		<td class="blue place" rowspan="2">活动场地</td>
            {% for date in table.date %}
    		    <td colspan="3">{{ date | date:"m月d日" }}<br />星期三</td>
            {% endfor %}
    	</tr>
        {% load range %}
    	<tr>
            {% for i in 7|get_range %}
    		<td>上午<br />08:00-12:00</td>
    		<td>下午<br />14:00-17:00</td>
    		<td>晚上<br />19:00-22:30</td>
            {% endfor %}
    	</tr>

        {% for place, apps_a_week in table.items %}
        {% if place != 'date' %}
    	<tr>
            <td class="place">{{ place }}</td>
            {% for apps_everyday in apps_a_week %}
                {% for app in apps_everyday %}
                    {% if app %}
    		        <td></td>
                    {% else %}
    		        <td></td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    	</tr>
        {% endif %}
        {% endfor %}

    </table>
{% endblock %}
