body{
    font-size: 12px;
}
.has_margin{
    margin-top: 30px;
}
.message_list{
    width: 80%;
    margin: 10px 0px 10px 20%;
    position: relative;
    overflow: hidden;
}
.item{
    display: inline-block;
    width: 20%;
    text-align: right;
}
.line_container{
    width: 1000px;
    position: relative;
    overflow: hidden;
    line-height: 300%;
}
.message_show{
    /*width: 80%;*/
    background: #ffffff;
    border: solid #cccccc 1px;
    position: relative;
    /*margin: 0 auto;*/
    overflow: hidden;
    line-height: 300%;
    padding: 25px 100px;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.message_show h2{
    font-family: "Microsoft Yahei";
    font-size: 18px;
    line-height: 200%;
    text-indent: 20px;
}
.line_show{
    width: 100%;
    border-top: solid 1px #e5e5e5;
    margin: 5px 0px;
}
.message_show li{
    list-style: none;
}
.message_show label{
    display: inline-block;
    width: 20%;
    text-indent: 20px;
    text-align: left;
}
.org_list{
    background: #ffffff;
    border: solid #cccccc 1px;
    position: relative;
    padding: 0px 30px;
    margin: 20px 0px;
    overflow: hidden;
    line-height: 200%;
}
.org_list a{
    text-decoration: none;
}
.sign_in_label{
    display: inline-block;
    width: 45%;
    text-align: right;
}
.pro_item{
    display: block;
    float: left;
    width: 50%;
    margin-right: 5%;
    text-align: right;
}
.table{
    margin-top: 30px;
    width: 100%;
    font-size: 12px;
    color: #000000;
    text-align: center;
    border-collapse:collapse;
}
.table td{
    padding: 10px 5px;
    border: solid #ffffff 2px;
}