{% extends 'table_base.html' %}

{% block htmltitle %} {% endblock %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'south_stadium/table.css' | as_css }}
{% endblock %}

{% block top_title %}<h1 style="font-size:50px">南区运动广场二楼平台场地申请</h1>{% endblock %}
{% block title %}南区运动广场二楼平台一周安排表(图形版){% endblock %}

{% block main_content %}
            <table>
                <tr class="date">
                    <td class="blue">运动广场二楼</td>
                    {% for date in table.date %}
                        <td>{{ date | date:"n月d日" }}<br />{{ date | date:"l" }}</td>
                    {% endfor %}
                </tr>
                {% for attribute, apps_7days in table.content %}
                    {% if attribute != 'date' %}
                    <tr>
                        <td class="timing">{{ attribute }}</td>
                        {% for app in apps_7days %}
                            {% if app %}
                            <td><a href="">{{ app.activity }}</a></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
{% endblock %}