/* application dialog */
td.aui_main{
    vertical-align: top;
}

/* application list table */
td.app_sing_cond{
    text-align: left;
	border-right-color: transparent;
}
td.app_sing_appTime{
	text-align: right;
	width: 160px;
	border-left-color: transparent;
}
.app_table_title{
    background-color: #CCCCCC;
    text-align: center;
    width: 480px;
}
span.app_approved{
    color: #E10601;
}

table.app_table td.gray, table.app_table td.red{
    cursor: pointer;
}

/* single application info table */
table.app_info_table{
    width: 480px;
}
table.app_table td{
    padding: 3px 5px;
    word-break: break-all;
}
td.app_info_cont{
    width: 560px;
    vertical-align: top;
    text-align: left;
}   
td.app_info_title{
    width: 150px;
    vertical-align: top;
    text-align: right;
}

/* application table with conflict for meeting_room */
table.app_table_with_conf{
    width: 680px;
}
table.conf_app_table{
    border-collapse: collapse;
    margin-bottom: 10px;
}
table.conf_app_table td{
    vertical-align: top;
}
td.conflict_app_info_title{
    text-align: right;

    width:40px;
    width:5em;
}