<html>
<head>
    <style>
        a{ display: block; }
    </style>
</head>

<body>
{% for org in list %}
<div>
{{ org }}
	{{ org.user.username }}
	{{ org.chinese_name }}
	{{ org.org_in_charge }}
	{{ org.tutor }}
	{{ org.tutor_contact_infor }}
	{{ org.belong_to }}
	{{ org.director }}
	{{ org.director_contact_infor }}
	{{ org.is_banned }}
	<a href="{% url 'account:disable_org' %}?id={{ org.pk }}">{% if not org.is_banned %}disable{% else %}enable{% endif %}</a>
</div>
{% endfor %}
</body>

</html>
