{% extends 'base.html' %}

{% block htmltitle %}资料{% endblock %}

{% block base_htmlhead %}
    <style>
        a{ display: block; }
    </style>
{% endblock %}

{% block main_container %}
	{{ organization.user.username }}
	{{ organization.chinese_name }}
	{{ organization.org_in_charge }}
	{{ organization.tutor }}
	{{ organization.tutor_contact_infor }}
	{{ organization.belong_to }}
	{{ organization.director }}
	{{ organization.director_contact_infor }}
	{{ organization.is_banned }}
{% endblock %}
