{% extends 'base.html' %}

{% block htmltitle %}资料{% endblock %}

{% block main_container %}
	部门英文名称{{ user.username }}<br/>
	部门名称{{ user.organization.chinese_name }}<br/>
	主管单位{{ user.organization.org_in_charge }}<br/>
	指导老师{{ user.organization.tutor }}<br/>
	指导老师联系方式{{ user.organization.tutor_contact_infor }}<br/>
	所属部门{{ user.organization.belong_to }}<br/>
	组织负责人{{ user.organization.director }}<br/>
	负责人联系方式{{ user.organization.director_contact_infor }}<br/>
	是否被禁用{{ user.organization.is_banned }}<br/>
{% endblock %}
