<html>
<body>

    <form action="{% url 'account:reset_password' %}" method="POST" >
    {% csrf_token %}
        {{ form.old_password }}
	                {% for error in form.old_password.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    
        {{ form.new_password1 }}
	                {% for error in form.new_password1.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    
        {{ form.new_password2 }}
	                {% for error in form.new_password2.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                    
        <input type="submit" value="submit" />
    </form>

</body>
</html>
