{% extends 'account/account_base.html' %}

{% block htmltitle %}找回密码{% endblock %}

{% block base_htmlhead %}
    {% load html_tools %}
    {{ 'account/account.css' | as_css }}
{% endblock %}

{% block main_container %}
<div class="container">
    <form action="{% url 'account:reset_password' %}" method="POST" >
    {% csrf_token %}
        <div class="message_list">
            <label class="item">当前密码</label>
            {{ form.old_password }}
            <label class="error">
                {% for error in form.old_password.errors %}
                    {{ error }}&nbsp;
                {% endfor %}
            </label>      
        </div>
        <div class="message_list">
            <label class="item">新密码</label>
            {{ form.new_password1 }}
            <label class="error">
                {% for error in form.new_password1.errors %}
                    {{ error }}&nbsp;
                {% endfor %}
            </label>  
        </div>
        <div class="message_list">
            <label class="item">确认密码</label>
            {{ form.new_password2 }}
            <label class="error">
                {% for error in form.new_password2.errors %}
                    {{ error }}&nbsp;
                {% endfor %}
            </label>     
        </div>
        <div class="error" style="margin-left:50%">
            {% for error in form.non_field_errors %}
                {{ error }}&nbsp;
            {% endfor %}
        </div>                  
        <div class="message_list" >
            <input type="submit" value="提交" style="margin:20px 0px 0px 21%" />
        </div>   
    </form>
</div> 
{% endblock %}
