{% extends 'base.html' %}

{% block htmltitle %}注册{% endblock %}

{% block main_container %}
	<a href="{% url 'account:signup' %}">sign up</a>
	<a href="{% url 'account:signout' %}">sign out</a>
	<a href="{% url 'account:signin' %}">sign in</a>
	<a href="{% url 'account:reset_password' %}"> reset password</a>

	{% if user.is_authenticated %}
		<h1> has login </h1>
	{% else %}
		<h1> has not login </h1>
	{% endif %}

    <form action="{% url 'account:signup' %}" method="POST" >
    	{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit" />
    </form>
{% endblock %}