{% extends 'base.html' %}

{% block htmltitle %}登陆{% endblock %}

{% block main_container %}
{% if next %}
<form action="{% url 'account:signin' %}?next={{ next }}" method="POST" >
{% else %}
<form action="{% url 'account:signin' %}" method="POST" >
{% endif %}
    {% csrf_token %}
        {{ form.username }}
	                {% for error in form.username.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
        {{ form.password }}
	                {% for error in form.password.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
        <input type="submit" value="submit" />
    </form>
{% endblock %}
