<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="深圳大学,深大,荔园,学子天地,场地申请,首页">
    <meta name="description" content="深圳大学资讯传媒社区, 荔园信息聚集平台">
    <title>场地申请首页</title>
	{% load html_tools %}
    {{ 'index.css' | as_css }}
</head>
<body>
	<div class="main">
		<ul>
				{% if user.is_authenticated %}
				<li class="style" style="height:50px;line-height:50px"><strong>{{ user.organization.chinese_name }}</strong></li>
				<li class="style" style="height:50px;line-height:50px" >
					<a href="{% url 'account:signout' %}">注销</a>
					<a href="{% url 'account:reset_password' %}">修改密码</a>
					<a href="{% url 'account:edit_profile' user.pk %}">编辑资料</a>
					<a href="{% url 'account:profile' user.pk %}">查看资料</a>
					{% if perms.account.manager %}
					<a href="{% url 'account:org_manage' %}">管理组织</a>
					{% endif %}
				{% else %}
				<li class="style" style="height:50px;line-height:50px" >
					<a href="{% url 'account:signin' %}">登录</a>
					<a href="{% url 'account:signup' %}">注册</a>
				{% endif %}
			</li>
			<li style="background-color:#E3EAF0;color:#D00000;font-size:42px;font-weight:bold;">
				校园场地管理系统(新版本)
			</li>
			<li style="background-color:#E3EAF0;color:#000000;font-size:24px;font-weight:bold;">
				<a href="/static/images/rule.html">深圳大学学生活动场地及物资借用申请流程（申请前必看）
				</a>
			</li>
			<li class="style">
				<a href="{% url 'student_activity_center:table' %}" class="left">学生活动中心场地申请</a>
				<a href="{% url 'student_activity_center:apply' %}" class="right">网上申请</a>
			</li>
			<li class="style">
				<a href="{% url 'exhibit:table' %}" class="left">校园展览场地申请</a>
				<a href="{% url 'exhibit:apply' %}" class="right">网上申请</a>
			</li>
			<li class="style">
				<a href="{% url 'publicity:table' %}" class="left">校园露天场地申请</a>
				<a href="{% url 'publicity:apply' %}" class="right">网上申请</a>
			</li>
			<li class="style">
				<a href="{% url 'meeting_room:table' %}" class="left">会议室申请</a>
				<a href="{% url 'meeting_room:apply' %}" class="right">网上申请</a>
			</li>
			<li class="style">
				<a href="{% url 'document:index' %}">表格下载</a>
			</li>
			<li class="style" style="font-weight:bold;line-height:15px">
				<a href="http://stu.szu.edu.cn/" style="display:block;margin-top:30px">深圳大学学子天地</a><br /><span style="font-family:宋体;font-size:12px;color:#999999;">(办公楼: 620-1： 如果你发现网站有任何问题,请立刻联系我们(钟同学,682478,qq757346379))</span>
			</li>
		</ul>
	</div>
	</body>
</html>


