<html>
<head>
    <style>
        a{ display: block; }
    </style>
</head>

<body>
<a href="{% url 'account:signup' %}">sign up</a>
<a href="{% url 'account:signout' %}">sign out</a>
<a href="{% url 'account:signin' %}">sign in</a>
<a href="{% url 'account:reset_password' %}"> reset password</a>
<div> -------------- </div>
<a href="{% url 'student_activity_center:apply' %}"> student_activity_center apply</a>
<a href="{% url 'student_activity_center:table' %}"> student_activity_center table</a>
<a href="{% url 'student_activity_center:listing' %}"> student_activity_center list</a>
<div> -------------- </div>
<a href="{% url 'campus_field:apply_exhibit' %}"> campus_field apply exhibition</a>
<a href="{% url 'campus_field:apply_publicity' %}"> campus_field apply publicity</a>
<a href="{% url 'campus_field:table' %}"> campus_field table</a>
<a href="{% url 'campus_field:listing' %}"> campus_field list</a>
</body>

</html>
