<html>
<head>
    <style>
        a{ display: block; }
    </style>
</head>

<body>
<a href="{% url 'account:signup' %}">sign up</a>
<a href="{% url 'account:signout' %}">sign out</a>
<a href="{% url 'account:signin' %}">sign in</a>
<a href="{% url 'account:reset_password' %}"> reset password</a>
<a href="{% if user.is_authenticated %}{% url 'account:edit_profile' user.pk %}{% endif %}"> edit_profile</a>
<a href="{% if user.is_authenticated %}{% url 'account:profile' user.pk %}{% endif %}"> profile</a>
<a href="{% url 'account:org_manage' %}">org manage</a>
<div> -------------- </div>
<a href="{% url 'student_activity_center:apply' %}"> student_activity_center apply</a>
<a href="{% url 'student_activity_center:table' %}"> student_activity_center table</a>
<a href="{% url 'student_activity_center:list' %}"> student_activity_center list</a>
<div> -------------- </div>
<a href="{% url 'exhibit:apply' %}"> campus_field apply exhibition</a>
<a href="{% url 'exhibit:table' %}"> exhibit table</a>
<a href="{% url 'exhibit:list' %}"> exhibit list</a>
<div> -------------- </div>
<a href="{% url 'publicity:apply' %}"> campus_field apply publicity</a>
<a href="{% url 'publicity:table' %}"> publicity table</a>
<a href="{% url 'publicity:list' %}"> publicity list</a>
<div> -------------- </div>
<a href="{% url 'meeting_room:apply' %}"> meeting room apply</a>
<a href="{% url 'meeting_room:table' %}"> meeting room table</a>
<a href="{% url 'meeting_room:list' %}"> meeting room list</a>
<div> -------------- </div>
<a href="{% url 'south_stadium:apply' %}"> south_stadium room apply</a>
<a href="{% url 'south_stadium:table' %}"> south_stadium table</a>
<a href="{% url 'south_stadium:list' %}"> south_stadium list</a>
<div> -------------- </div>

</body>

</html>
