{% extends 'list_base.html' %}

{% block htmltitle %}{{ title }}文字版{% endblock %}

{% block top_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main_content %}
    <table class="table">
        <tr>
            <td style="min-width:100px">申请组织</td>
            <td style="min-width:100px">活动主题</td>
            <td style="min-width:150px">使用场地</td>
            <td style="width:95px">使用日期</td>
            <td style="min-width:100px">使用时间</td>
            <td style="width:90px">申请时间</td>
            <td style="width:70px">是否审批</td>
        </tr>
        {% for app in page %}
        <tr class="app">
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.organization }}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.activity }}</td> 
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{% for place in app.place %} {{ place }} {% endfor %}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.date }}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{% for time in app.time %} {{ time }} {% endfor %}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.application_time }}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{% if app.approved %}已批准{% else %}未批准{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {% include 'paginator.html' with page=page %}
{% endblock %}