{% extends 'apply_base.html' %}

{% block htmltitle %} {% endblock %}

{% block top_title %}<h1>exhibit application</h1>{% endblock %}

{% block main_content %}
    <table>
        <tr>
            <td>申请组织</td>
            <td>活动主题</td>
            <td>使用场地</td>
            <td>使用日期</td>
            <td>使用时间</td>
            <td>申请时间</td>
            <td>是否审批</td>
            <td>manage</td>
        </tr>
        {% for app in page %}
        <tr>
            <td>{{ app.organization }}</td>
            <td>{{ app.activity }}</td> 
            <td>{{ app.place }}</td>
            <td>{{ app.date }}</td>
            <td>{{ app.time }}</td>
            <td>{{ app.application_time }}</td>
            <td>{% if app.approved %}已批准{% else %}未批准{% endif %}</td>
            <td><a href="{{ modify_url }}?id={{ app.id }}">manage</a></td>
        </tr>
        {% endfor %}
    </table>
    {% include 'paginator.html' with page=page %}
{% endblock %}