{% extends 'list_base.html' %}

{% block htmltitle %} {% endblock %}

{% block top_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main_content %}
    <table class="table">
        <tr>
            <td>申请组织</td>
            <td>活动主题</td>
            <td>使用场地</td>
            <td>使用日期</td>
            <td>使用时间</td>
            <td>申请时间</td>
            <td>是否审批</td>
            <td>修改申请表</td>
            <td>删除申请</td>
            {% if perms.account.manager %}
            <td>审批</td>
            {% endif %}
        </tr>
        {% for app in page %}
        <tr>
            <td>{{ app.organization }}</td>
            <td>{{ app.activity }}</td> 
            <td>{% for place in app.place %} {{ place }} {% endfor %}</td>
            <td>{{ app.date }}</td>
            <td>{% for time in app.time %} {{ time }} {% endfor %}</td>
            <td>{{ app.application_time }}</td>
            <td>
                {% if app.approved %}
                    <span style="color: #ff0000;">已批准</span>
                {% else %}
                    未批准
                {% endif %}
            </td>

            {% if not app.approved %}
                <td><a href="{{ modify_url }}?id={{ app.id }}">修改申请表</a></td>
                <td><a href="{{ delete_url }}?id={{ app.id }}">删除申请</a></td>
            {% else %}
                <td><span style="color: #aaaaaa;">修改申请表</span></td>
                <td><span style="color: #aaaaaa;">删除申请</span></td>
            {% endif %}

            {% if perms.account.manager %}
            <td>
                <a href="{{ approve_url }}?id={{ app.id }}">
                {% if app.approved %}
                    解除通过
                {% else %}
                    通过审批
                {% endif %}
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% include 'paginator.html' with page=page %}
{% endblock %}