{% extends 'base.html' %}

{% block htmltitle %}表格下载{% endblock %}

{% block base_htmlhead %}
{% endblock %}

{% block top_title %}<h1>表格下载</h1>{% endblock %}

{% block main_container %}
<div style="text-align: center;">
    <h1><a href="http://www.szu.edu.cn/board/view.asp?id=227488">关于规范学生组织校内场地申请及使用的说明</a></h1>
    <a href="/uploaded_file/table_download/双休日社会实践班级身份证统计表.xls">双休日社会实践班级身份证统计表.xls</a><br/>
    <a href="/uploaded_file/table_download/校园露天场地、学生活动中心场地、展览场地申请流程.doc">
    校园露天场地、学生活动中心场地、展览场地申请流程.doc</a><br/>
    <a href="/uploaded_file/table_download/学生活动中心会议室申请表.doc">学生活动中心会议室申请表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学团学干部团队拓展培训申请表.doc">深圳大学团学干部团队拓展培训申请表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学学生活动中心场地(学活露天场地、报告厅)申请表.doc">深圳大学学生活动中心场地(学活露天场地、报告厅)申请表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学学生活动展览场地申请表.doc">深圳大学学生活动展览场地申请表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学学生活动水电使用申请表.doc">深圳大学学生活动水电使用申请表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学学生活动课室申请表.doc">深圳大学学生活动课室申请表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学无犯罪记录证明表.doc">深圳大学无犯罪记录证明表.doc</a><br/>
    <a href="/uploaded_file/table_download/深圳大学校内露天活动场地申请表（设点宣传）.doc">深圳大学校内露天活动场地申请表（设点宣传）.doc</a><br/>
</div>
{% endblock %}
