<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta http-equiv="Content-Language" content="zh-CN">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="深圳大学,深大,荔园,学子天地,场地申请,活动,露天,校园文化">
	<meta name="description" content="深圳大学资讯传媒社区, 荔园信息聚集平台">
    {% block htmltitle %}<title>深圳大学校园文化活动露天场地申请</title>{% endblock %}
    {% load html_tools %}
    {{ 'table/base.css' | as_css }}
    {{ 'table/apply_main.css' | as_css }}
    {% block htmlhead %}
    {% endblock %}
</head>
<body>
	<div class="container">
		<div class="header">
			<a href="/"><img src="logo.png" class="logo"></a>
			{% block top_title %}<h1>校园文化活动露天场地申请</h1>{% endblock %}
			<div class="line"></div>
		</div>
		<div class="main">
			<div class="nav">
                <span class="name nav-content">{% block title %}{% endblock %}</span>
                <span class="time nav-content">当前时间: 2013年11月20日 星期三</span>
				<ul class="week nav-content">
					<a href="?week={{ curr_week|add:"-1" }}">〖上一周〗</a>
					<a href="?week=0">〖本周〗</a>
					<a href="?week={{ curr_week|add:"1" }}">〖下一周〗</a>
				</ul>
				<ul class="choice nav-content">
					<a href="../list/">【文字版】</a>
					<a href="../apply/">【网上申请】</a>
				</ul>
			</div>
            {% block main_content %}
            {% endblock %}
		</div>
		<div class="footer">
			<p>CONPYRIGNT©2013 BY StuCampus.SZU ALL RIGHTS RESERVED.<br />版权所有©深圳大学学子天地 技术开发部</p>
		</div>
	</div>
</body>
</html>
