<html>
<head>
    <style>
        .application_exist{
            width: 20px;
            height: 20px;
            background-color: green;
        }
        .application_pass{
            width: 20px;
            height: 20px;
            background-color: red;
        }
        a{ display: block; }
    </style>
</head>

<body>
<h1>list</h1>
    <table>
        {% for app in listing %}
        <tr>
            <td> 
                {% if app %}
                    {{ app.meeting_topic }}
                    {{ app.date }}
                    {{ app.time }}
                {% endif %}
            </td> 
        </tr>
        {% endfor %}
    </table>
</body>
</html>
