{% extends 'list_base.html' %}

{% block htmltitle %} {% endblock %}

{% block top_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main_content %}
    <div class="search">
        <form action="" method="post">
            <a href="."><input type="button" value="显示全部" /></a>
            {% csrf_token %}

            {{ form.search_type }}
            <span class="error">
            {% for error in form.search_type.errors %}
                {{ error }}&nbsp;
            {% endfor %}
            </span>

            {{ form.search_value }}
            <span class="error">
            {% for error in form.search_value.errors %}
                {{ error }}&nbsp;
            {% endfor %}
            </span>

            {{ form.approved }}
            <span class="error">
            {% for error in form.approved.errors %}
                {{ error }}&nbsp;
            {% endfor %}
            </span>

            <input type="submit" value="提交" />
        </form>
    </div>
    
    <table class="table">
        <tr>
            <td style="min-width:100px">申请组织</td>
            <td style="min-width:100px">活动主题</td>
            <td style="min-width:150px">使用场地</td>
            <td style="width:95px">使用日期</td>
            <td style="min-width:100px">使用时间</td>
            <td style="width:90px">申请时间</td>
            <td style="width:40px">是否<br />审批</td>
            <td style="width:40px">修改<br />申请表</td>
            <td style="width:25px">删除申请</td>
            {% if perms.account.manager or perms.account.StoneDock1stFloorMeetingRoomManager or perms.account.StoneDock2ndFloorMeetingRoomManager %}
            <td style="width:25px">审批</td>
            {% endif %}
        </tr>
        {% for app in page %}
        <tr class="app">
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.organization }}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.activity }}</td> 
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{% for place in app.place %} {{ place }} {% endfor %}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.date }}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{% for time in app.time %} {{ time }} {% endfor %}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">{{ app.application_time | date:"Y年n月d日G时i分" }}</td>
            <td onclick="javascript:showAppForm({{ app.id }}, plc)">
                {% if app.approved %}
                    <span style="color: #ff0000;">已批准</span>
                {% else %}
                    未批准
                {% endif %}
            </td>

            {% if not app.approved %}
                <td><a href="{{ modify_url }}?id={{ app.id }}">修改<br />申请表</a></td>
                <td><a href="{{ delete_url }}?id={{ app.id }}">删除申请</a></td>
            {% else %}
                <td onclick="javascript:showAppForm({{ app.id }}, plc)"><span style="color: #aaaaaa;">修改<br />申请表</span></td>
                <td onclick="javascript:showAppForm({{ app.id }}, plc)"><span style="color: #aaaaaa;">删除申请</span></td>
            {% endif %}

            {% if perms.account.manager or perms.account.StoneDock1stFloorMeetingRoomManager or perms.account.StoneDock2ndFloorMeetingRoomManager %}
            <td>
                <!-- hack!! 当前会议室只有三个场地，307，石头坞一楼跟二楼，如果以后多了一个会议室，以下代码仅仅检查307可能得不到你想要的结果 -->
                {% if not perms.account.manager and "307" in app.place %}
                    <span style="color: #999999;">
                    {% if app.approved %}
                        解除通过
                    {% else %}
                        通过审批
                    {% endif %}
                    </span>
                {% else %}
                    <a href="{{ approve_url }}?id={{ app.id }}">
                    {% if app.approved %}
                        解除通过
                    {% else %}
                        通过审批
                    {% endif %}
                    </a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% include 'paginator.html' with page=page %}
{% endblock %}
