{% extends 'table_base.html' %}

{% block htmltitle %} {% endblock %}

{% block htmlhead %}
    {% load html_tools %}
    {{ 'meeting_room/table.css' | as_css }}
{% endblock %}

{% block top_title %}<h1 style="font-size:50px;line-height:65px">会议室使用申请</h1>{% endblock %}
{% block title %}会议室安排表(图形版){% endblock %}

{% block main_content %}
    <table>
        <tr>
        	<td rowspan="2">{{ table.date.0 | date:"n月" }}</td>
        {% for place in table.content %}
            <td colspan="7">{{place}}</td>
        {% endfor %}
    	</tr>
    	<tr>
        	{% for place in table.content %}
        	{% for day in table.date %}
        		<td>{{ day | date:"d日"}}</td>
        	{% endfor %}
        	{% endfor %}
        </tr>

        {% load range %}
        {% for time in table.time_list %}
        <tr>
        	<td class="timing">{{ time }}</td>
        	{% for place in table.content %}
        		{% for day in 7|get_range %}
        		{% if table.place.time.day %}
        			<td>{{table.place.time.day.meeting_topic}}</td>
        		{% else %}
        			<td>a</td>
        		{% endif%}
        		{% endfor %}
        	{% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
